<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.forumsystem.dao.UserMapper">

    <sql id="selectFields">
        id,username,password,salt,email,type,status,activation_code as activationCode,header_url as headerUrl,create_time as createTime
    </sql>

    <select id="selectById" resultType="User">
        select <include refid="selectFields"></include>
        from user
        where status != 2
        <if test="id!=1">
            and id = #{id}
        </if>

    </select>
</mapper>